body {
  min-height:100vh;
  margin:0;
}

/* HEADER */

.header {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
}

.header ul {
  padding:0px;
  display:flex;
  gap:16px;
  align-items:center;
}

.header ul li {
  list-style:none;
}

.header ul li a {
  text-decoration:none;
  font-size:18px;
  color:#E5E7EB;
}

.header-logo {
  font-size: 24px;
  color:#F9FAF8;
  font-weight:900;
}

/* HERO /*

