* {
  box-sizing: border-box;
}

body {
  min-height:100vh;
  margin:0;
}

.sign-up-button {
  font-weight:bold;
  border-radius:5px;
  padding: 8px 24px;
}

/* HEADER AND FOOTER */

.header,
.footer {
  display:flex;
  align-items: center;
  background-color: #1F2937;
}

.header {
  justify-content:space-around;
}

.footer {
  justify-content:center;
  padding:32px 0px;
}

.footer p {
  font-size: 12px;
  color:#E5E7EB;
  margin:0px;
}

.header ul {
  padding:0px;
  display:flex;
  gap:16px;
  align-items:center;
}

.header ul li {
  list-style:none;
}

.header ul li a {
  text-decoration:none;
  font-size:18px;
  color:#E5E7EB;
}

.header-logo {
  font-size: 24px;
  color:#F9FAF8;
  font-weight:900;
}

/* HERO */

.hero {
  display:flex;
  justify-content:center;
  align-items: center;
  gap:64px;
  padding:32px 64px;
  background-color:#1F2937;
}

.hero-body {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  flex-wrap:wrap;
  width:425px;
  gap:8px;
}

.hero-body h1,
.hero-body p {
  margin:0px;
}

.hero-body h1 {
  font-size:48px;
  font-weight:extra-bold;
  color:#F9FAF8;
}

.hero-body p {
  font-size:18px;
  color:#E5E7EB;
}

.hero-body button {
  background-color:#3882F6;
  color:#E5E7EB;
  border:1px solid #1F2937;
}

/* INFORMATION */

.info {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:16px;
  padding-bottom:48px;
}

.info-pictures {
  display:flex;
  gap:40px;
}

.random-info-pic {
  display:flex;
  flex-direction: column;
  gap:8px;
  align-items: center;
  width:100px;
}

.info h2 {
  font-size:36px;
  font-weight:extra-bold;
  color: #1f2937;
}

.info img {
  border: 2px solid #3882F6;
  border-radius:10px;
  height:110px;
  width:110px;
}

/* QUOTE */

.quote {
  display:flex;
  flex-direction:column;
  background-color:#E5E7EB;
  padding:64px 256px;
  align-items:center;
  justify-content: center;
  gap:8px;
}

#quote-text {
  font-size:36px;
  font-weight:light;
  font-style: italic;
  color:#1F2937;
  margin:0px;
}

#quote-name {
  color:#1F2937;
  font-weight:bold;
  align-self:flex-end;
  margin:0px;
  font-size: 18px;
}

/* CALL TO ACTION */

.call-to-action {
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 64px 192px;
}

.call-to-action-card {
  background-color: #3882F6;
  display:flex;
  justify-content:center;
  gap:32px;
  align-items:center;
  padding: 32px 96px;
  border-radius:5px;
  width:900px;
  min-width: 550px;
  border:1x solid #1F2937;
}

.cta-card-body {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.cta-card-body h3 {
  margin:0px;
  color:white;
}

.cta-card-body p {
  margin:0px;
  color:white;
}

.call-to-action button {
  background-color:#3882F6;
  color:white;
  border:1px solid white;
}